@import url('variables.less');
@import url('mixins.less');
@import url('typography.less');
@import url('buttons.less');
@import url('forms.less');

body {
	font-size: @baseFontSize;
	background-color: @lightBackgroundColor;
}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 530px;
	background: #ffffff;
	border-right: 1px solid @lightBorderColor;
	z-index: -1;
	margin-left: 0px;	
}

.row{
	margin-bottom: 40px;
}

.btn {
	margin-right: 10px;
}

.wrap{
	position: relative;
}

.docs {
	padding: 40px;
	width: 1000px;
}

#sample {
	ul.parent li,
	ul.child li {
		position: relative;
		list-style-type: none;

		.toggle {
			position: absolute;
			left: -18px;
			.rotate(0deg);
			.transition(all 0.2s ease);
			
			&.closed {
			  .rotate(90deg);
			}
		}
	}

	
}

.code {
	margin-left: 80px;
	text-shadow: 0px 1px 0px #ffffff;

	code, pre {
		font-size: 12px;
		line-height: 19px;
		font-family: @baseCodeFamily;
		padding: 0px;
		color: darken(@colorRed, 10%);
		background-color: transparent;
		border: none;
	}	
}

